.container-details {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 10px;
    margin-top: 20px;
    position: relative;
    padding: 5%;
  }
  .mail {
    margin: 10px;
  }
  
  .call {
    margin: 10px;
  }
  
  .address {
    margin: 10px;
  }

  .companyname{
    color: #2d545e;
    margin: 10px;
    font-size: 30px;
  }