<div class="card-footer">
    <div class="container-details">
        <div class="companyname">
            <span>
                <label>Healthy Life Medicare</label><label style="font-size: medium;">&copy;</label>
            </span>
        </div>
        <div class="mail">
            <span>
                <label for="email">Email Us: </label>
                <a href="maito:healthylifemedicare@bbd.co.za"> healthylifemedicare@bbd.co.za</a>
    
            </span>
        </div>
        <div class="call">
            <span>
                <label for="phone">Call Us:</label>
                020 6685 3600
            </span>
        </div>
        <div class="address">
            <span>
                <label for="address">Address:</label>
                7th Floor, Lunkad SkyVista, Viman Nagar,
    
                    Pune, Maharashtra,411014
            </span>
        </div>
    </div>
</div>