<ul>
  <li>
    <a routerLink="/user-login/dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li>
    <a routerLink="/user-login/user-profile" routerLinkActive="active">Profile</a>
  </li>
  <li><a routerLink="/user-login" (click)="logout()">Logout</a></li>
</ul>
<div class="card-body">
  <table class="table table-striped">
    <caption style="color:blue; font-size: xx-large;">
      Current Orders
    </caption>
    <thead>
      <tr>
        <th scope="">Store Name</th>
        <th scope="">Medicine Detail</th>
        <th scope="">Price</th>
        <th scope="">Qty</th>
        <th scope="">Date</th>
        <th scope="">Toatal Amount</th>
        <th scope="">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recentOrder of recentOrders" (click)='viewBill(recentOrder)'>
        <td>{{ recentOrder.storeName }}</td>
        <td>{{ recentOrder.medicine.mName }}</td>
        <td>{{ recentOrder.medicine.mPrice }}</td>
        <td>{{ recentOrder.oQTY }}</td>
        <td>{{ recentOrder.oDate | date }}</td>
        <td>{{ recentOrder.oAmount }}</td>
        <td style="font-weight: bold; color:goldenrod;">
          {{ recentOrder.oStatus }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="card-body">
  <table class="table table-striped">
    <caption style="color:green; font-size: xx-large;">
      Completed Orders
    </caption>
    <thead>
      <tr>
        <th scope="">Store Name</th>
        <th scope="">Medicine Detail</th>
        <th scope="">Price</th>

        <th scope=""> Qty</th>
        <th scope="">Date</th>
        <th scope="">Total Amount</th>
        <th scope="">Status</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let completeOrder of completeOrders" (click)='viewBill(completeOrder)'>
        <td>{{ completeOrder.storeName }}</td>
        <td>{{ completeOrder.medicine.mName }}</td>
        <td>{{ completeOrder.medicine.mPrice }}</td>
        <td>{{ completeOrder.oQTY }}</td>
        <td>{{ completeOrder.oDate | date }}</td>
        <td>{{ completeOrder.oAmount }}</td>
        <td style="font-weight: bold; color:green;">
          {{ completeOrder.oStatus }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf='hideBill'  class="bill-div">
  <div class="container">
      <div class="row">
          <div class="panel panel-default height">
              <div class="panel-heading text-center"><h4> Store Details</h4></div>
              <div class="panel-body">
                  <strong>Store Name:</strong> {{bill.sName}} <br>
                 <strong>Email:</strong> {{bill.sEmailID}}
                 <strong>Phone:</strong> {{bill.sContact}} <br>
                 <strong>Address:</strong> {{bill.sAddress}}<br>
                 <strong>PinCode:</strong> {{bill.sPincode}}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="panel panel-default height">
              <div class="panel-heading text-center"><h4>Order Summary</h4> <strong>{{bill.status}}</strong> </div>
              <div class="panel-body">
                  
                      <table class="table table-responsive">
                          <caption></caption>
                          <thead>
                              <tr>
                                  <th scope="col">Order Id</th>
                                  <th scope="col">Medicine Name</th>
                                  <th scope="col">Medicine Company</th>
                                  <th scope="col">Medicine Type</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Qty</th>
                                  <th scope="col">Total Amount</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>{{bill.id}}</td>
                                  <td>{{bill.mName}}</td>
                                  <td>{{bill.mCompanyName}}</td>
                                  <td>{{bill.mType}}</td>
                                  <td>{{bill.mPrice  | currency:'INR'}}</td>
                                  <td>{{bill.mQTY}}</td>
                                  <td>{{bill.Amount  | currency:'INR'}}</td>
                              </tr>
                          </tbody>
                      </table>
                      <button class="btn pull-right" (click)='hideBill=false'>Close</button>
                  
              </div>
          </div>
      </div>
   </div>
</div>

