.form-div {
  height: fit-content;
  font-size: 14px;
  border-radius: 4px;
  border: darkgreen thick;
  background-color: #00e6e6;

}

.out-div {
  padding: 200px;

}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 10px;
  margin-top: 20px;
  position: relative;
}

input[type=submit] {
  background-color: #0ad1b7;
  color: white;
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

input[type=text],
textarea,
[type=email] {
  border-radius: 5px;
  font-size: large;
  resize: none;
}

input[type=submit]:hover {
  background-color: #08c4ac;
}
.tablemain{
  width: 100%;
  display: table;
}
.thead-dark1{
  text-align: center;
  font-size: medium;
  background-color: #2d545e ;
  color: white;
}

.card-body{
  padding-left: 20%;
  padding-right: 20%;
}

label {
  font-size: 17px;
}

.mail {
  margin: 10px;
}

.call {
  margin: 10px;
}

.address {
  margin: 10px;
}

.error {
  color: red;
}

.inputerror {
  border-color: red;
}

.mybt {
  background-color: #0ad1b7;
  color: white;
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

thead {
  background-color: #2d545e;
  color: white;
}

td:hover {
  cursor: pointer;
}

.bill-div {
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
  padding-top: 100px;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color :#f2f2f2;
  top:20;
  position: relative;
}

li {
  float: right;
  padding-right: 5px;
}

li a {
  display: block;
  color:black;
  font-size: large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightblue;
}

