<div class="card-body">
    <h1>
      <strong>
        Store Details
      </strong>
    </h1>
  </div>
  <br>
  <div class="container">      
    <div class="table-responsive">
      <table class="table">
            <caption></caption>
            <thead>
                <tr>
                    <th scope="col">Strore-Name</th>
                    <th scope="col">Owners-Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Verification</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let store of stores">
                    <td>{{store.sName}}</td>
                    <td>{{store.sOwnerName}}</td>
                    <td>{{store.sAddress}}-{{store.sPincode}}</td>
                    <td>{{store.sEmailID}}</td>
                    <td><button (click)="onVerify(store.sID)" class="btn {{store.sStatus?'btn-success':'btn-danger'}}" >{{store.sStatus?'Active':'Inactive'}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
