<div *ngIf="status === 'true'">
            <ul>
                <li><a (click)="logout()">Logout</a></li>
                <li><a routerLink='summary' routerLinkActive="active">Summary</a></li>
                <li><a routerLink='managequeries' routerLinkActive="active">Manage-Queries</a></li>
                <li><a routerLink='managestore' routerLinkActive="active">Manage-Store</a></li>
            </ul>    
    </div>    
    <div class="container">  
        <router-outlet></router-outlet>
    </div>
<div *ngIf="status === 'false'">
    Your Are Not Valid User
</div>
