ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color :#f2f2f2;
    top:20;
    position: relative;
  }
  
  li {
    float: right;
    padding-right: 5px;
  }
  
  li a {
    display: block;
    color:black;
    font-size: large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightblue;
  }