<div class="container">
    <div class="card-body">
        <h1>
            <strong>
                Store Registration
            </strong>
        </h1>
    </div>
    <br>
    <div class="card-body">
        <form [formGroup]="registrationform" (ngSubmit)="saveRegistrationData()">
            <div class="form-group">
                <input formControlName="storename" type="text" class="form-control" placeholder="Store Name">
                <span *ngIf='fval.storename.touched && fval.storename.errors' class="error">
                    *Store Name Required
                </span>
            </div>
            <div class="form-group">
                <input formControlName="ownername" type="text" class="form-control" placeholder="Owner Name">
                <span *ngIf='fval.ownername.touched && fval.ownername.errors' class="error">
                    *Store Owner Name Required
                </span>
            </div>
            <div class="form-group">
                <input formControlName="contact" type="text" class="form-control" placeholder="Contact Number">
                <span *ngIf='fval.contact.touched && fval.contact.errors' class="error">
                    <span *ngIf='fval.contact.errors?.required'>*Contact Number Required</span>
                    <span *ngIf='fval.contact.errors?.minlength'>*Contact Length should be of 10 digits</span>
                    <span *ngIf='fval.contact.errors?.pattern'>*Enter Valid Contact Number</span>
                </span>

            </div>
            <div class="form-group">
                <input formControlName="email" type="text" class="form-control" placeholder="Email address">
                <span *ngIf='fval.email.touched && fval.email.errors' class="error">
                    *Please Enter Valid Email
                </span>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <span *ngIf='fval.password.touched && fval.password.errors' class="error">
                    <span *ngIf='fval.password.errors?.required'>*Password Number Required</span>
                    <span *ngIf='fval.password.errors?.minlength'>*Password Length should be of minimum 8
                        characters</span>
                </span>
            </div>
            <div class="form-group">
                <input type="password" formControlName="cnfpassword" class="form-control" placeholder="Confirm Password">
                <span *ngIf='fval.cnfpassword.touched && fval.cnfpassword.errors' class="error">
                    <span *ngIf='fval.cnfpassword.errors?.required'>*This Field is Required </span>
                </span>
                    <span *ngIf="fval.cnfpassword.dirty && !flagOfConfirmpwd" class="error">Password Do not match</span>
            </div>
            <div class="form-group">
                <textarea formControlName="storeadd" class="form-control" placeholder="Store Address">
            </textarea>
                <span *ngIf='fval.storeadd.touched && fval.storeadd.errors' class="error">
                    *Store Address is Required
                </span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="pincode" placeholder="Pincode">
                <span *ngIf='fval.pincode.touched && fval.pincode.errors' class="error">
                    <span *ngIf='fval.pincode.errors?.required'>*This Field is Required </span>
                    <span *ngIf='fval.pincode.errors?.pattern'>Please input proper pincode</span>
                </span>
            </div>
            <div style="text-align: right;">
                <button class="btn btn-primary"> Register </button> &nbsp;
                <button class="btn btn-light" (click)="resetform()" type="Reset">Reset</button> <br>
                <button class="btn btn-link" (click)="gotoLogin()">Back to Login</button>
            </div>
        </form>
    </div>
</div>