.search-box{
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.search-box input[type="text"]{
    font-size: 30px;
    text-align: center;
    border: none;
    width: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 25px 0 0 25px;
    background-color: whitesmoke;
    border-top: 1px solid #16A085;
    border-bottom: 1px solid #16A085;
    border-left: 1px solid #16A085;
    padding: 10px;
    outline: none;
    margin-right: -10px;
    color:black;
}
.search-box img{
    height: 67px;
    margin-left: 10px;
    margin-bottom: 12.5px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 0 25px 25px 0;
    border-top: 1px solid #16A085;
    border-bottom: 1px solid #16A085;
    border-right: 1px solid #16A085;
    outline: none;
}
.showResult{
    display: none;
}
.noStore{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.noStoreBody{
    background-color: white;
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
}
.background-text {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.text-center{
    font-size: 18px;
}
.Order{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.OrderConfirm{
    background-color: white;
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
}
.card{
    background-color: #fff; border: 1px solid transparent; border-radius: 6px;
}
 .card .card-body{ 
    display: table; width: 100%; padding: 12px;
}
 .card .card-body .lead{
    text-align: center; 
}
.card-price{ 
    border-color: #999;
    background-color: #ededed; 
    margin-bottom: 24px; 
}
.card-price .price{ 
   text-align: center; 
   color: #337ab7; 
   font-size: 3em; 
   text-transform: uppercase;
   line-height: 0.7em; 
   margin: 24px 0 16px;
 }