<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 search-box">
                <input [(ngModel)]="inputSeach" type="text" id="item" placeholder="MEDICINE" (keydown.enter)="onKeydown($event)">
                <img src="https://image.flaticon.com/icons/svg/751/751463.svg" alt="Pharmacy" (click)="onseachClick()" >
            </div>
        </div>
    </div>
    <div class="noStore" *ngIf="searchCompleted && displayStores.length === 0">
        <div class="container noStoreBody">
          <div class="row">
            <h1><img src="http://clipartmag.com/images/sad-face-black-and-white-40.jpg" height="150px"
                alt="No Store In this Area"></h1>
            <h2>Sorry</h2>
            <h3>There is No Store Available in your Area</h3>
            <h3>
              <button (click)="hideNoStore()" class="btn btn-warning">Okay</button>
            </h3>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div *ngIf="showStores.length > 0" style="text-align: center;"> 
                <div class="row">
                    <h1 class="card-title">Search Result</h1>
                </div>
                <div *ngFor="let s of showStores"  class="card-title" style="margin-top: 60px;">
                      <div class="row">
                        <div class="w3-card-4">
                            <header class="w3-container w3-light-grey">
                              <h3>{{s.sName}}</h3>
                            </header>
                            <div class="w3-container">
                                <hr>
                                     <span class="w3-light-grey">-:Address:-</span>
                                     <p>{{s.sAddress}}</p>
                                <hr>
                                     <span class="w3-light-grey">-:Owner Name:-</span>
                                    <p>{{s.sOwnerName}}</p>
                                <hr>
                                    <span class="w3-light-grey">-:Store Contact:-</span>
                                    <p>{{s.sContact}}</p>
                                <hr>
                            </div>
                            <button class="w3-button w3-block w3-dark-grey" (click)="placeOrder(s.sID,inputSeach)" >Place Your Order</button>
                            </div>
                </div>  
            </div>
    </div>
    <div *ngIf="showStores.length === 0 && searchCompleted == true" style="text-align: center;">
        <div class="card-body">
            <h1 class="card-title">Search Result</h1>
            <h2><img src="http://clipartmag.com/images/sad-face-black-and-white-40.jpg" height="150px" alt="No Store In this Area"></h2>
            <p class="card-text">Sorry For Now There is No Medicines Available At Your Area</p>
          </div>
    </div>
    </div>
</div>
<div class="background-text">
  <h2>Healthy Life Medicare&copy; - More than an online pharmacy</h2>
  <br>
  <p class="text-center">
    Healthy Life Medicare is the one-of-its-kind online pharmacy in India. We are a group of caring people and want to make
    healthcare accessible to all. Healthy Life Medicare is India’s most trusted and convenient online pharmacy. We empower
    you to experience ease and convenience in online purchase of prescription medicines and other health care
    products at discounted prices. Healthy Life Medicare is India’s trusted online medical store serving more than 500000
    satisfied customers since 2012. Healthy Life Medicare is more than an online pharmacy network that lets you experience
    the brand in its retail pharmacy stores and that cares for people hence offers a complete health management
    portal where you can save all your prescriptions and lab reports. We understand your health needs and want to
    help you with one-stop-solution for high-quality medical care at affordable cost.
  </p>
</div>
<div class="background-text">
  <h3>Purchase prescription medicines online</h3>
  <br>
  <p class="text-center">
    With an online pharmacy like Healthy Life Medicare, it becomes very easy and safe to buy medicines online. Healthy Life Medicare is
    the largest Pharmacy online network in India where users can buy prescription medicines by uploading their
    prescriptions and get them delivered at doorsteps at great discounted price.
    Order medicines online is more easy and convenient than going to the medical store. The various advantages of
    buying medicines online India from an online medical store like healthylifemedicare.com are:
    1. Consumers can privately and conveniently order medicines from online chemist store as well as get to avail
    free home delivery.
    2. The online chemist shop ensures that the medicines ordered online are sourced and fulfilled completely to
    anyone living far from the medical store.
    3. Medicine online shopping helps a buyer to save money. Several surveys conducted by research bodies have
    shown that as much as one-third the price can be saved on online medicine order.
    4. The access to written product information is a lot easier to obtain than in traditional drug store.
    5. The biggest and most attractive reason to purchase medicines online is the opportunity to avail huge
    discounts on medicines; Healthy Life Medicare is one such online medical store in India that provides prescription
    medicines at the best possible prices and makes it their personal responsibility to satisfy customers
    completely.
  </p>
</div>
<div class="Order" [hidden]='showOrder'>
        <div class="container OrderConfirm">
            <div class="row">
                <div class="card-title">
                    <div class="row">
                      <div class="w3-card-4">
                          <header class="w3-container w3-light-grey">
                            <h3>Confirm Your Order</h3>
                            <hr>
                                 <span>Enter Quntity For Medicines</span>
                                 <hr>
                                 <button (click)="decreaseValue()">-</button>
                                <span class="w3-light-grey" >
                                    <input type="text" [(ngModel)]="medicineQty" placeholder="Enter Quntity For Medicines">
                                </span>
                                <button (click)="increaseValue()">+</button>
                            <hr>
                                 <span class="w3-light-grey">Price Of Your Medicine As Per Unit:- {{medicinePrice}}</span>
                            <hr>
                                 <span class="w3-light-grey">Your Payble Amount For This Order Is:- {{ medicineQty * medicinePrice}}</span>
                            <hr>
                              <button class="btn btn-primary" (click)="confirmOrder(medicineQty,inputSeach)">Confirm Your Order</button>
                              <hr>
                               <button  class="btn btn-primary" (click)="orderHide()">Cancel Order</button>
                          </header>
                      </div>
              </div>  
               
            </div>
        </div>
</div>
</div>