 <div class="card-body">
        <h1>
          <strong>
            About Us
          </strong>
        </h1>
      </div>
      <br>
        <img class="img-responsive" src="https://www.thumbaypharmacy.com/wp-content/uploads/2016/08/slide-5-1.jpg" alt="" width="100%">
    <div class="left-text">
        <h2 class="text-center text-color"><strong> We Are a Digital Healthcare Platform </strong></h2>
        <br>
        <p class="text-center">
            A holistic healthcare website that aims to make healthcare accessible and affordable in the country.
            In order to streamline the functioning of the health industry, we have brought pharmacists and consumers
            under
            one digital ambit. This will save you from the burden of waiting in long
            queues, riding to a medical store or visiting a doctor.
        </p>
    </div>
    <div class="right-text">
        <h2 class="text-center text-color"><strong> Vision </strong></h2>
        <br>
        <p class="text-center">
            Improve health outcomes for consumers by making it <span class="colored-span">simple, personal, accessible
            </span>and <span class="colored-span">affordable</span>.
            Our vision is to be a leading pharmaceutical company in India and to become a significant global player by providing high quality, affordable and innovative solutions in medicine and treatment.
        </p>
    </div>
    <div class="left-text">
        <h2 class="text-center text-color"><strong> Mission </strong></h2>
        <br>
        <p class="text-center">

            Use technology to make PHARMACY the trusted partner for customers for all of their healthcare
            needs.
            We will discover, develop and successfully market pharmaceutical products to prevent, diagnose, alleviate and cure diseases.

We shall provide total customer satisfaction and achieve leadership in chosen markets, products and services across the globe, through excellence in technology, based on world-class research and development.

We are responsible to the society. We shall be good corporate citizens and will be driven by high ethical standards in our practices.
        </p>
    </div>
</div>
<app-footer></app-footer>

