<ul *ngIf="stores.sStatus==true">
  <li><a routerLink="/store-login" (click)="logout()">Logout</a></li>
    <li><a routerLink="/store-login/store-profile">Manage Profile</a></li>
    <li><a routerLink="/store-manage-medicine">Manage Medicines</a></li>
    <li><a routerLink="/store-login/storedashboard/store-add-medicine">Add Medicines</a></li>
    <li><a routerLink="/store-login/storedashboard">Dashboard</a></li>
</ul>
<div class="container1">
<div class="card-body">
  <h1>
    <strong>
      Medicine Details
    </strong>
  </h1>
</div>
<br>
<br>

  <div style="overflow-x: auto;overflow-y: auto;">
    <table class="table table-striped tablemain" id="t1">
      <caption></caption>
      <thead class="thead-dark1">
        <tr>
          <th scope="col">Medicine Name</th>
          <th scope="col">Medicine Description</th>
          <th scope="col">Company Name</th>
          <th scope="col">Medicine Type</th>
          <th scope="col">Manufacturing Date</th>
          <th scope="col">Expiry Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col" colspan="2" style="text-align: center ;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let med of manageMedicines;">
          <td>{{med.mName}}</td>
          <td>{{med.mDescription}}</td>
          <td>{{med.mCompanyName}}</td>
          <td>{{med.mType}}</td>
          <td>{{med.mMFD}}</td>
          <td>{{med.mEXD}}</td>
          <td><input type="text" class="form-control" value="{{med.mQTY}}" style="width: 60px;" #qty></td>
          <td> {{med.mPrice}} </td>
          <td>
            <button class="btn btn-success" (click)="updateMedicines(med.mID,qty.value,med.sID)"> Update</button>
          </td>
          <td><button class="btn btn-danger" (click)="delete(med.mID,med.sID)"> Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
