<div class="head">
    <div class="row">
           <div class="row head-center">
                    <img src="https://image.flaticon.com/icons/svg/119/119064.svg" height="80px" alt="" >Healthy Life Medicare
           </div>
    </div>
</div>  
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/" routerActivation="active">Home</a></li>
            <li class="nav-item"><a routerLink="/user-login" routerActivation="active">User</a></li>
            <li class="nav-item"><a routerLink="/store-login" routerActivation="active">Store</a></li>
            <li class="nav-item"><a routerLink="/contact-us" routerActivation="active">Contact Us</a></li>
            <li class="nav-item"><a routerLink="/aboutus" routerActivation="active">About Us</a></li>
          </ul>
<div class="container">  
  

