.head{
    background-color:#f2f2f2  ;
    padding: 40px;
}
.nav-pills
{
    background-color: #2d545e;
}

.nav-pills>li>a:visited{
    background-color: black;
    border-radius: 2px;
}
a {
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.head-center{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: #2d545e;
}

