<div class="container">
    <div class="card-body">
        <h1>
          <strong>
            Store Login
          </strong>
        </h1>
      </div>
    <div>
        <div class="card-body footer">
        <form [formGroup]="loginform">
            <div class="form-group">
                <input formControlName="email" type="text" class="form-control" placeholder="Email Id">
                <span *ngIf='fval.email.touched && fval.email.errors' class="error">
                    *Please Enter Valid Email
                 </span>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Password">
                <span *ngIf='fval.password.touched && fval.password.errors' class="error">
                    <span *ngIf='fval.password.errors?.required'>*Password Number Required</span>
                </span>
            </div>
            <div style="text-align: right;">
                <button class="btn btn-success" type="submit" (click)="loginStore()"> Login </button>
            </div>
            <div style="text-align: right;">
                <p style="font-size: 16px;">Not a User ? <a routerLink="storeRegistration"> Click here </a> to Register</p>
            </div>
        </form>
    </div>
    </div>
</div>
