.card-body{
  padding-left: 20%;
  padding-right: 20%;
}

input[type=submit] {
  background-color: #0ad1b7;
  color: white;
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

input[type=text],
textarea,
[type=email] {
  border-radius: 5px;
  font-size: large;
  resize: none;
}

input[type=submit]:hover {
  background-color: #08c4ac;
}

label {
  font-size: 17px;
}

.mail {
  margin: 10px;
}

.call {
  margin: 10px;
}

.address {
  margin: 10px;
}

.error {
  color: red;
}

.inputerror {
  border-color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color :#f2f2f2;
  top:20;
  position: relative;
}

li {
  float: right;
  padding-right: 5px;
}

li a {
  display: block;
  color:black;
  font-size: large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightblue;
}