    <ul>
      <li><a routerLink='/user-login/dashboard' routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink='/user-login/user-profile' routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/user-login" (click)="logout()">Logout</a></li>
    </ul>
<div [hidden]="flag">
  <div class="container">
    <div class="card-body">
      <h1>
        <strong>Your Profile</strong>
      </h1>
    </div>
<br>

<div class="card-body">
    <form [formGroup]='userProfileForm'>
      <div class="form-group">
        <input type="text" formControlName="fname" placeholder="First Name" class="form-control">
        <div *ngIf='(formFields.fname.touched && formFields.fname.errors)'>
          <span *ngIf='formFields.fname.errors?.required' class='error'>*first name is required</span>

        </div>
      </div>

      <div class="form-group">
        <input type="text" formControlName="lname" placeholder="Last Name" class="form-control">
        <div *ngIf='(formFields.lname.touched && formFields.lname.errors)'>
          <span *ngIf='formFields.lname.errors?.required' class='error'>*last name is required</span>

        </div>
      </div>


      <div class="form-group">
        <input type="email" formControlName="emailid" placeholder="Email-ID" class="form-control" >

      </div>

      <div class="form-group">
        <textarea formControlName="address" placeholder="Address" class="form-control" required></textarea>
        <div *ngIf='(formFields.address.touched && formFields.address.errors)'>
          <span *ngIf='formFields.address.errors?.required' class='error'>*address is required</span>

        </div>
      </div>


      <div class="form-group">
        <input type="text" placeholder="State" formControlName="state" class="form-control">
        <div *ngIf='(formFields.state.touched && formFields.state.errors)'>
          <span *ngIf='formFields.state.errors?.required' class='error'>*state is required</span>

        </div>
      </div>


      <div class="form-group">
        <input type="text" placeholder="City" formControlName="city" class="form-control">
      </div>
      <div *ngIf='(formFields.city.touched && formFields.city.errors)'>
        <span *ngIf='formFields.city.errors?.required' class='error'>*city name is required</span>

      </div>
      <div class="form-group">
        <input type="number" placeholder="Pin-Code" formControlName="pincode" class="form-control">
      </div>
      <div *ngIf='(formFields.pincode.touched && formFields.pincode.errors)'>
        <span *ngIf='formFields.pincode.errors?.required' class='error'>*pincode is required</span>

      </div>
      <input type="hidden" value="{{us?.id}}" formControlName="id">
    <div class="form-group">
      <div style="text-align: right;">
          <button type="submit" class="btn btn-primary" (click)="onSaveProfile()"
            [disabled]="!userProfileForm.valid">Save</button> &nbsp;
          <button class="btn btn-success" (click)="flag=!flag">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
  <div [hidden]="!flag">
<div class="container">
    <div class="card-body">
      <h1><strong>Change Password</strong></h1>
    </div>
    <div class="card-body">
    <form [formGroup]="changePasswordForm">
      <div class="form-group">
        <input type="password" name="oldPass" formControlName="oldPass" class="form-control"
          placeholder="Old Password">
        <div *ngIf='(passwordFormFields.oldPass.touched && passwordFormFields.oldPass.errors)'>
          <span *ngIf='passwordFormFields.oldPass.errors?.required' class='error'>*password is required</span>

        </div>
      </div>
      <div class="form-group">
        <input type="password" name="newPass" class="form-control" formControlName="newPass"
          placeholder="New Password">
        <div *ngIf='(passwordFormFields.newPass.touched && passwordFormFields.newPass.errors)'>
          <span *ngIf='passwordFormFields.newPass.errors?.required' class='error'>*new password is required</span>

        </div>
      </div>
      <div class="form-group">
        <input type="password" name="confirmPass" class="form-control" formControlName="confirmPass"
          placeholder="Confirm Password">
        <div *ngIf='(passwordFormFields.confirmPass.touched && passwordFormFields.confirmPass.errors)'>
          <span *ngIf='passwordFormFields.confirmPass.errors?.required' class='error'>*confirm password is
            required</span>
            <span  *ngIf="passwordFormFields.confirmPass.errors.mustMatch" class='error'>*password must match</span>
        </div>
      </div>
      <div style="text-align: right;">
          <button type="submit" class="btn btn-primary" (click)="onSavePassword()"
            [disabled]="!changePasswordForm.valid">Save</button> &nbsp;
          <button class="btn btn-success" (click)="flag=!flag">Change Profile</button>
      </div>
    </form>
  </div>
</div>
  </div>
