<ul>
  <li><a routerLink='/store-login/storedashboard' routerLinkActive="active">Dashboard</a></li>
  <li><a routerLink="/store-login" (click)="logout()">Logout</a></li>
</ul>
<div [hidden]="flag">
  <div class="card-body">
    <h1>
      <strong>Your Profile</strong>
    </h1>
  </div>
  <br>
  <div class="card-body">
    <form [formGroup]='profileForm'>
      <div class="form-group">
        <input type="text" formControlName="storename" placeholder="Store Name" class="form-control">
        <div *ngIf='(formFields.storename.touched && formFields.storename.errors)'>
          <span *ngIf='formFields.storename.errors?.required' class='error'>*Store name is required</span>

        </div>
      </div>

      <div class="form-group">
        <input type="text" formControlName="ownername" placeholder="Owner Name" class="form-control">
        <div *ngIf='(formFields.ownername.touched && formFields.ownername.errors)'>
          <span *ngIf='formFields.ownername.errors?.required' class='error'>*Owner name is required</span>

        </div>
      </div>


      <div class="form-group">
        <input type="email" formControlName="emailid" placeholder="Email-ID" class="form-control">

      </div>

      <div class="form-group">
        <textarea formControlName="address" placeholder="Address" class="form-control"></textarea>
      </div>


      <div class="form-group">
        <input type="text" placeholder="Contact" formControlName="contact" class="form-control">
        <div *ngIf='(formFields.contact.touched && formFields.contact.errors)'>
          <span *ngIf='formFields.contact.errors?.required' class='error'>*contact is required</span>
          <span *ngIf='formFields.contact.errors?.minlength' class='error'>*Contact Length should be of 10 digits</span>
          <span *ngIf='formFields.contact.errors?.pattern' class='error'>*Enter Valid Contact Number</span>
        </div>
      </div>



      <div class="form-group">
        <input type="number" placeholder="Pin-Code" formControlName="pincode" class="form-control">
      </div>


      <div class="form-group">
        <div style="text-align: right;">
          <button type="submit" class="btn btn-primary" (click)="onSaveProfile()"
            [disabled]="!profileForm.valid">Save</button> &nbsp;
          <button class="btn btn-success" (click)="flag=!flag">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div [hidden]="!flag">

  <div class="card-body">
    <h1><strong>Change Password</strong></h1>
  </div>
  <div class="card-body">
    <form [formGroup]="changePasswordForm">
      <div class="form-group">
        <input type="password" name="oldPass" formControlName="oldPass" class="form-control" placeholder="Old Password">
        <div *ngIf='(passwordFormFields.oldPass.touched && passwordFormFields.oldPass.errors)'>
          <span *ngIf='passwordFormFields.oldPass.errors?.required' class='error'>*password is required</span>

        </div>
      </div>
      <div class="form-group">
        <input type="password" name="newPass" class="form-control" formControlName="newPass" placeholder="New Password">
        <div *ngIf='(passwordFormFields.newPass.touched && passwordFormFields.newPass.errors)'>
          <span *ngIf='passwordFormFields.newPass.errors?.required' class='error'>*new password is required</span>
          <span *ngIf='passwordFormFields.newPass.errors?.minlength' class='error'>*new password should be of 8
            characters</span>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="confirmPass" class="form-control" formControlName="confirmPass"
          placeholder="Confirm Password">
        <div *ngIf='(passwordFormFields.confirmPass.touched && passwordFormFields.confirmPass.errors)'>
          <span *ngIf='passwordFormFields.confirmPass.errors?.required' class='error'>*confirm password is
            required</span>
        </div>
        <span *ngIf="passwordFormFields.confirmPass.dirty && !flag1" class='error'>Password Do not match</span>
      </div>
      <div style="text-align: right;">
        <button type="submit" class="btn btn-primary" (click)="onSavePassword()"
          [disabled]="!changePasswordForm.valid">Save</button> &nbsp;
        <button class="btn btn-success" (click)="flag=!flag">Change Profile</button>
      </div>
    </form>
  </div>
</div>