<div class="admin-form">
    <div class="container ">
        <div class="row">
            <div class="col sm 12 ">
                <form action="">
                    <div class="admin-logo">
                        <img src="https://image.flaticon.com/icons/svg/2206/2206248.svg" height="100px"><span>ADMIN</span>
                    </div>
                    <input type="text" placeholder="Enter Admin ID" required  #adminId (keydown.enter)="onKeydown($event)">
                    <input type="password" placeholder="Enter Admin Password" required #adminPassword (keydown.enter)="onKeydown($event)">
                    <input type="button" value="Login" class="btn btn-primary" (click)="adminLogin()">
                </form>
            </div>
        </div>
    </div>
</div>

