.admin-form{
    height: 100vh;
    text-align: center;
    overflow: hidden;
    min-height: 100%;
    max-height: 100%;
}
.admin-form form{
    padding: 20px;
    margin: 20px;
    border:solid 1px black;
    border-radius: 25px;
}
.admin-form span{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.admin-form form input[type="text"],
.admin-form form input[type="password"]{
    background-color: transparent;
    outline: none;
    border-radius: 25px;
    padding: 20px;
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border:solid 1px black;
    color:black;
    font-size: 20px;
}
.admin-form form input[type="button"]{
    outline: none;
    border-radius: 25px;
    padding: 20px;
    width:100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    font-size: 20px;
}
.admin-logo span{
    font-family: Comic Sans MS;
    color:#337ab7;
}
.footer{
    position: fixed;
    bottom: 0px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
-webkit-box-shadow: 0 0 0 30px white inset !important;
}