<div class='mainpopup' (click)="hidePopDiv()">
    <div class="card text-center">
        <div *ngIf="popupService.getMessage()" style="background-color: white;padding-bottom: 25px;">
            <div class="card-text success">
                <img [src]="getImageUrl()" alt="" style="width: 30%;"><br>
                <div [ngClass]="{'error': popupService.getMessage().type ==='error'}">
                    {{popupService.getMessage().message}}
                </div>
            </div>
        </div>
    </div>
</div>