.colored-span{
    color: chocolate;
    
}

.left-text {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-left: 20%;
    color: inherit;
    text-align: justify;
    background-color:#eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right-text {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-right:60%;
    color: inherit;
    background-color:#eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-font
{
    font-size: 18px;
}
.text-center{
   text-align: center;
}
.card-body{
    padding-left: 20%;
    padding-right: 20%;
  }
  .text-color{
      color: #2d545e;
  }