<ul>
  <li><a routerLink="/store-login" (click)="logout()">Logout</a></li>
  <li><a routerLink="/store-login/store-profile">Manage Profile</a></li>
  <li><a routerLink="/store-manage-medicine">Manage Medicines</a></li>
  <li><a routerLink="/store-login/storedashboard/store-add-medicine">Add Medicines</a></li>
  <li><a routerLink="/store-login/storedashboard">Dashboard</a></li>
</ul>
<div class="container">
  <div class="card-body">
    <h1>
      <strong>
        Add Medicine
      </strong>
    </h1>
  </div>
  <br>
  <div class="card-body">
    <form [formGroup]="addMedicineForm" (ngSubmit)="addMedicineDetails()">
      <div class="form-group">
        <label>Medicine Name</label>
        <input type="text" formControlName="mName" class="form-control" placeholder="Medicine Name"
          [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mName.errors }" />
        <div *ngIf="addMedicineValidation && formControlNames.mName.errors" class="invalid-feedback">
          <div *ngIf="formControlNames.mName.errors.required" class="ngClass">* Medicine Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Medicine Description</label>
        <textarea class="form-control" formControlName="mDescription" rows=5 cols=5 placeholder="Description"
          [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mDescription.errors }"></textarea>
        <div *ngIf="addMedicineValidation && formControlNames.mDescription.errors" class="invalid-feedback">
          <div *ngIf="formControlNames.mDescription.errors.required" class="ngClass">* Medicine Description is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Company Name</label>
            <input type="text" formControlName="mCompanyName" class="form-control" placeholder="Company Name"
              [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mCompanyName.errors }" />
            <div *ngIf="addMedicineValidation && formControlNames.mCompanyName.errors" class="invalid-feedback">
              <div *ngIf="formControlNames.mCompanyName.errors.required" class="ngClass">* Company Name is required
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Medicine Type</label>
            <input type="text" class="form-control" formControlName="mType" placeholder="Medicine Type"
              [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mType.errors }" />
            <div *ngIf="addMedicineValidation && formControlNames.mType.errors" class="invalid-feedback">
              <div *ngIf="formControlNames.mType.errors.required" class="ngClass">* Medicine Type is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Manufacturing Date</label> 
            <input type="date" class="form-control" formControlName="mMFD" placeholder="Manufacturing Date"
              [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mMFD.errors }" />
            <div *ngIf="addMedicineValidation && formControlNames.mMFD.errors" class="invalid-feedback">
              <div *ngIf="formControlNames.mMFD.errors.required" class="ngClass">* Manufacturing Date is required</div>
            </div>
            <span class="ngClass">{{checkDate.dates}}</span>
          </div>
          <div class="col-sm-6">
            <label>Expiry Date</label>
            <input type="date" class="form-control" formControlName="mEXD" placeholder="Expiry Date"
              [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mEXD.errors }" />
            <div *ngIf="addMedicineValidation && formControlNames.mEXD.errors" class="invalid-feedback">
              <div *ngIf="formControlNames.mEXD.errors.required" class="ngClass">* Expiry Date is required</div>
            </div>
          </div>

        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="mQTY" placeholder="Quantity"
              [ngClass]="{ 'is-invalid': addMedicineValidation && formControlNames.mQTY.errors }" />
            <div *ngIf="addMedicineValidation && formControlNames.mQTY.errors" class="invalid-feedback">
              <div *ngIf="formControlNames.mQTY.errors.required" class="ngClass">* Quantity should not be 0 or blank
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Medicine Price per unit</label>
            <input type="text" class="form-control" formControlName="mPrice" placeholder="Medicine Price per unit" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-info">Add Medicine</button> &nbsp;
        <button type="reset" class="btn btn-secondary" (click)="clearMedicineDetails()">Clear</button>
      </div>
    </form>
  </div>
</div>