<div class="container">
    <div class="card-body">
        <h1>
          <strong>
            Contact Us
          </strong>
        </h1>
      </div>
      <br>
      <div class="card-body">
    <form [formGroup]="contactUsForm">
        <div class="form-group">
            <input type="email" formControlName="email" placeholder="Email Address" class="form-control"
                [class.inputerror]='(formFields.email.touched && formFields.email.errors)'>
            <div *ngIf='(formFields.email.touched && formFields.email.errors)'>
                <span *ngIf='formFields.email.errors?.required' class='error'>*email is required</span>
                <span *ngIf='formFields.email.errors?.email' class='error'>*enter valid email</span>
            </div>
        </div>

        <div class="form-group">
            <input type="text" formControlName="query" placeholder="Query Topic" class="form-control"
                [class.inputerror]='(formFields.query.touched && formFields.query.errors)'>
            <div *ngIf='(formFields.query.touched && formFields.query.errors)'>
                <span *ngIf='formFields.query.errors?.required' class="error">*write query</span>
                <span *ngIf='formFields.query.errors?.minlength' class="error">*minimum 8 characters required</span>
            </div>
        </div>

        <div class="form-group">
            <textarea formControlName="description" placeholder="Query Description" style="height:200px"
                class="form-control"
                [class.inputerror]='(formFields.description.touched && formFields.description.errors)'></textarea>
            <div *ngIf='(formFields.description.touched && formFields.query.errors)'>
                <span *ngIf='formFields.description.errors?.required' class="error">*write description</span>
                <span *ngIf='formFields.description.errors?.minlength' class="error">*minimum 150 characters
                    required</span>
            </div>
       </div>
        <div class="form-group">
            <input type="submit" value="Submit" (click)="onSubmit()" class="btn btn-success">
        </div>
    </form>
</div>
</div>
