.card-body{
  padding-left: 20%;
  padding-right: 20%;
}
.mail {
  margin: 10px;
}

.call {
  margin: 10px;
}

.address {
  margin: 10px;
}

.error {
  color: red;
}

.inputerror {
  border-color: red;
}
