<div class="card-body">
    <h1>
      <strong>
        Query Details
      </strong>
    </h1>
  </div>
  <br>
  <div class="container">      
    <div class="table-responsive">
      <table class="table">
            <caption></caption>
            <thead>
                <tr>
                    <th scope="col">Email-Id</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Description</th>
                    <th scope="col">Reply</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let query of queries">
                    <td>{{query.qEmailID}}</td>
                    <td>{{query.qSubject}}</td>
                    <td><div class="reply">{{query.qDescription}}</div></td>
                    <td ><textarea name="reply" class="form-control" cols="50" rows="5" #reply></textarea></td>
                    <td><button (click)="onReply(query.qID,reply.value)" class="btn btn-primary">Reply</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>