.inner1 {
  padding: 20px;
  height: 400px;
  font-weight: 600;
  font-size: xx-large;
  align-content: center;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color: rgb(161, 161, 223);
}


img{
    width: 100px;
}