<div class="row">
    <div class="col-sm-5 inner1 center">
        <div class="icons"><img  src="https://cdn4.iconfinder.com/data/icons/medical-business/512/drugstore-512.png" alt=""></div>
        <h2>Store Records</h2>
        <h3>No of Store (Active)</h3>
        <h4><span>{{activeStores}}</span></h4>
        <h3>Total No. of Store </h3>
        <h4><span>{{totalStores}}</span></h4>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 inner1">
        <div class="icons"><img  src="https://cdn4.iconfinder.com/data/icons/toolbar-soft/512/status_web_element_business_label_template_interface-512.png" alt=""></div>
        <h2>Queries Records</h2>
        
        <h3>No of Queries (Pending)</h3>
        <h4><span>{{pendingQueries}}</span></h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-5 inner1 center">
        <div class="icons"><img  src="https://cdn4.iconfinder.com/data/icons/two-colored-flat-set/100/user-512.png" alt=""></div>
        <h2>Users Records</h2>
        
        <h3>Total No. of Users </h3>
        <h3><span>{{totalUsers}}</span></h3>
        
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 inner1">
        <div class="icons"><img  src="https://cdn4.iconfinder.com/data/icons/materia-flat-finance-vol-3/24/012_152_add_product_crate_package_box_parcel_shipping_bundle_cargo-512.png" alt=""></div>
        <h2>Orders Records</h2>
        <h3>No of Orders (Completed)</h3>
        <h4><span>{{completeOrders}}</span></h4>
        <h3>Total No. of Orders </h3>
        <h4><span>{{totalOrders}}</span></h4>
    </div>
</div>
<br>