 <div class="container">
        <div class="card-body">
            <h1>
              <strong>
                User Login
              </strong>
            </h1>
          </div>
        <div>
        <div class="card-body footer">
            <form [formGroup]="userLoginForm">
                <div class="form-group">
                    <input type="email" formControlName="userEmailID" name="email" placeholder="Email-ID" class="form-control"  required>
                            <div *ngIf='(loginForm.userEmailID.touched && loginForm.userEmailID.errors)'>
                                <span *ngIf='loginForm.userEmailID.errors?.required' class='error'>*email is required</span>
                                <span *ngIf='loginForm.userEmailID.errors?.email' class='error'>*enter valid email</span>
                            </div>
                </div>
                <div class="from-group">
                    <input type="password" name="password" formControlName="userPassword" placeholder="Password" class="form-control"  (keydown.enter)="onKeydown($event)"  required>
                    <div *ngIf='(loginForm.userPassword.touched && loginForm.userPassword.errors)'>
                        <span *ngIf='loginForm.userPassword.errors?.required' class='error'>*Password is required</span>
                    </div>
                </div>
                <div style="text-align: right;margin-top: 20px;">
                    <button class="btn btn-success" type="submit" (click)="logIn()" value="Login" [disabled]='!userLoginForm.valid'> Login </button>
                </div>
                <div style="text-align: right;margin-top: 20px;">
                    <input type="button" class="btn btn-success" value="New Register...?"  (click)="showRegister()">
                </div>
            </form>
        </div>
    </div>
    <div class="register" #registerClass>
        <div class="container">
            <form [formGroup]="userRegisterForm" (ngSubmit)="userRegistration()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="close-btn" (click)="closeRegister()">
                        <img src="https://image.flaticon.com/icons/svg/1828/1828665.svg" height="20px" alt="">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="register-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="text"  placeholder="First Name"  formControlName="firstName">
                        <div *ngIf='(registerForm.firstName.touched && registerForm.firstName.errors)'>
                            <span *ngIf='registerForm.firstName.errors?.required' class='error'>*FirstName is required</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="text"  placeholder="Last Name"   formControlName="lastName">
                        <div *ngIf='(registerForm.lastName.touched && registerForm.lastName.errors)'>
                            <span *ngIf='registerForm.lastName.errors?.required' class='error'>*lastName is required</span>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <input type="email"  placeholder="Email-ID"   formControlName="userEmail">
                          <div *ngIf='(registerForm.userEmail.touched && registerForm.userEmail.errors)'>
                              <span *ngIf='registerForm.userEmail.errors?.required' class='error'>*email is required</span>
                              <span *ngIf='registerForm.userEmail.errors?.email' class='error'>*valid email is required</span>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <input type="password"  placeholder="Enter Password"   formControlName = "userpassword">
                          <div *ngIf='((registerForm.userpassword.touched || registerForm.userpassword.dirty)  && registerForm.userpassword.errors)'>
                            <span *ngIf='registerForm.userpassword.errors?.required' class='error'>*Password is required</span>
                            <span *ngIf='registerForm.userpassword.errors?.minlength' class='error'>*Required password minimum 8 charater</span>
                      </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                        <input type="password"  placeholder="Re-Enter Password"   formControlName="userRepassword">
                        <div *ngIf='(registerForm.userRepassword.touched && registerForm.userRepassword.errors)'>
                            <span *ngIf='registerForm.userRepassword.errors?.required' class='error'>*Confirm Password is required</span>
                            <span  *ngIf="registerForm.userRepassword.errors?.mustMatch" class='error'>*Confirm Password must match</span>
                      </div>
                    </div>
                </div>
                  <div class="row">
                        <div class="col-sm-12">
                            <textarea matInput placeholder="Address"   formControlName="userAddress"></textarea>
                            <div *ngIf='(registerForm.userAddress.touched && registerForm.userAddress.errors)'>
                                <span *ngIf='registerForm.userAddress.errors?.required' class='error'>*Address is required</span>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <input type="text" placeholder="State"   formControlName="userState">
                          <div *ngIf='(registerForm.userState.touched && registerForm.userState.errors)'>
                            <span *ngIf='registerForm.userState.errors?.required' class='error'>*State is required</span>
                      </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                        <input type="text"  placeholder="City"   formControlName="userCity">
                        <div *ngIf='(registerForm.userCity.touched && registerForm.userCity.errors)'>
                            <span *ngIf='registerForm.userCity.errors?.required' class='error'>*City is required</span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="number"  placeholder="Pin-Code"   formControlName="userPincode">
                        <div *ngIf='((registerForm.userPincode.touched || registerForm.userPincode.dirty)  && registerForm.userPincode.errors)'>
                            <span *ngIf='registerForm.userPincode.errors?.required' class='error'>*Pincode is required</span>
                            <span *ngIf='registerForm.userPincode.errors?.maxlength' class='error'>*Pincode length must be 6 </span>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                        <input type="button" class="btn btn-success" (click)="userRegistration()" [disabled]='!userRegisterForm.valid' value="Register">
                      </div>
                  </div>
                </div>
            </div>
            </form>
        </div>
    </div>
<div class="panel panel-success text-center" >
<div *ngIf="submitted" class="container  div-success">
    <div class="div-show">
        <img src="https://image.flaticon.com/icons/svg/891/891397.svg" height="100px" alt="">
        <Span><h2>User Successfully Register </h2></Span>
        <button class="btn btn-primary" (click)="submitted=false">Close</button>
    </div>
</div>
</div>
