.main {
  height: 100vh;
  text-align: center;
  padding: 20px;
  overflow: hidden !important;
 }
  .card-body{
    padding-left: 20%;
    padding-right: 20%;
  }
  .error{
    color: red;
  }
  .footer{
    padding-bottom: 12.5%;
  }
  .register {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .close-btn img {
    position: absolute;
    top: 25px;
    float: right;
    right: 240px;
    font-size: 36px;
    margin-right: 25px;
    margin-top: 20px
  }

  .close-btn img:hover {
    cursor: pointer;
  }

  .register-form {
    background-color: white;
    height: 100%;
    margin-top: 25px;
    border-radius: 25px;
    text-align: center;
    padding: 50px 25px 20px 25px;
  }

  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="number"],
  .register-form input[type="password"],
  .register-form textarea {
    outline: none;
    padding: 5px;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    transition: 0.5s;
  }

  .register-form input,
  textarea:-webkit-autofill,
  .register-form input,
  textarea:-webkit-autofill:hover,
  .register-form input,
  textarea:-webkit-autofill:focus,
  .register-form input,
  textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
  }

  .register-form input[type="button"] {
    outline: none;
    padding: 5px;
    margin-top: 20px;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    border: 1px solid black;
    font-size: 20px;
  }

  .div-success {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
.div-show{
    background-color: white;
    height: fit-content;
    text-align: center;
    padding: 50px 25px 20px 25px;
    color: black;
}
  .div-success-bg {
    background-color: goldenrod;
  }
