.leftbox{
  float: left;
  width: 85%;
}
.rightbox{
  float: right;
  width: 5%;
  margin: 20px;
}
.verticleline{
  border-right: 1px solid;
  color: gray;
  height: auto;
}
.btnaddmedicine{
  margin: 20px;
  border-radius: 5px;
  height: 50px;
  width: 140px;
  background-color: green;
  color: white;
  font-size: medium;
}
.verifyimg{
  width: 50px;
  height: 50px;
}
.btnlogout{
  margin: 20px;
  border-radius: 5px;
  height: 50px;
  width: 140px;
  background-color: darkblue;
  color: white;
  font-size: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 20%;
  height: 10%;
}
.textcenter{
  text-align: center;
  font-size: large;
  font-weight: 100;
  font-family: cursive;
}
.tablemain{
  width: 100%;
  display: table;
}
.thead-dark1{
  text-align: center;
  font-size: medium;
  background-color: #2d545e ;
  color: white;
}
.tdstyle{
  text-align: center;
  padding-top: 5px;
}
.container1{
  padding: 2%;
}

tr:nth-child(even) {background-color: #f2f2f2;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color :#f2f2f2;
  top:20;
  position: relative;
}

li {
  float: right;
  padding-right: 5px;
}

li a {
  display: block;
  color:black;
  font-size: large;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightblue;
}
/* notification */
.badge {
  background: radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -moz-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -ms-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -o-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background-color: #ed2324;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  right: -90.8px;
  top: 2px;
  float: right;
  display: block;
  font-size: 18px;
}