  <ul *ngIf="stores.sStatus==true">
    <li><a routerLink="/store-login" (click)="logout()">Logout</a></li>
    <li><a routerLink="/store-login/store-profile">Manage Profile</a></li>
    <li><a routerLink="/store-manage-medicine">Manage Medicines</a></li>
    <li><a routerLink="/store-login/storedashboard/store-add-medicine">Add Medicines</a></li>
    <li><a routerLink="/store-login/storedashboard">Dashboard</a></li>
    
  </ul>
  <div class="container1">
    <div class="row">
      <p style="font-size:30px; margin-top: 10px; color:purple;"><strong>{{stores.sName}}</strong>
        <img *ngIf="stores.sStatus" src="../../../../assets/storeimg/verifiedstore.png" class="verifyimg"
          alt="Verification symbol" />
          <img *ngIf="stores.sStatus" src="../../../../assets/storeimg/cancelOrder.jfif" 
          alt="Verification symbol" style="float: right;width: 80px;height: 80px;" title="Rejected Order" /><span class="badge" *ngIf="stores.sStatus">{{rejectedOrder}}</span> 

          <img *ngIf="stores.sStatus" src="../../../../assets/storeimg/completedOrder.png" 
          alt="Verification symbol" style="float: right;width: 150px;height: 90px;" title="Completed Order" /><span class="badge" *ngIf="stores.sStatus">{{completedOrder}}</span> 
         
          <img *ngIf="stores.sStatus" src="../../../../assets/storeimg/newOrder.png" 
          alt="Verification symbol" style="float: right;width: 80px;height: 80px;" title="Requested Order" /><span class="badge" *ngIf="stores.sStatus">{{requestedOrder}}</span> 
        </p>
      
    </div>
    <div class="row">
      <div class="leftbox" *ngIf="stores.sStatus; else elseBlock" style="padding-left: 10%;">
       <div style="overflow-x: auto;overflow-y: auto;">
          <table class="table table-striped tablemain" id="t1">
            <caption style="font-size: 22px;font-family: Arial, Helvetica, sans-serif;color:blue;font-weight:bold;">
              Requested Orders</caption>
            <thead class="thead-dark1">
              <tr>
                <th scope="row" class="tdstyle">Order ID</th>
                <th scope="row" class="tdstyle">Medicine</th>
                <th scope="row" class="tdstyle">Total Stock</th>
                <th scope="row" class="tdstyle">Qty Ordered</th>
                <th scope="row" class="tdstyle">UserName</th>
                <th scope="row" class="tdstyle">User Email</th>
                <th scope="row" class="tdstyle">User Address</th>
                <th scope="row" class="tdstyle">Order Date</th>
                <th scope="row" class="tdstyle">Change Status</th>
                <th scope="row" class="tdstyle">Reject</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of ordersDisplayFormat">
              <tr *ngIf="order.oStatus=='Requested'">
                <td class="tdstyle">{{order.oId}}</td>
                <td class="tdstyle">{{order.mName}}</td>
                <td class="tdstyle" [ngStyle]="{'color' : order.stock > order.oQTY ? 'black' : 'red'}">{{order.stock}}</td>
                <td class="tdstyle" >{{order.oQTY}}</td>
                <td class="tdstyle">{{order.id.fname}} {{ order.id.lname}}</td>
                <td class="tdstyle">{{order.id.emailid}}</td>
                <td class="tdstyle">{{order.id.address}}</td>
                <td class="tdstyle">{{order.oDate | date}}</td>
                <td class="tdstyle">
                  <button (click)=confirmorder(order.oId,order.medicineid) class="btn btn-success" *ngIf="order.stock>order.oQTY">Confirm</button>
                  <button (click)=gotoAddMedicine() class="btn btn-info" *ngIf="order.stock <= order.oQTY">Add Stock</button>
                </td>
                <td class="tdstyle"><button (click)=rejectorder(order.oId) class="btn btn-danger">Reject</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div style="overflow-x: auto;overflow-y: auto;">
          <table class="table table-striped tablemain" id="t1">
            <caption style="font-size: 22px;font-family: Arial, Helvetica, sans-serif;color:green;font-weight:bold;">
              Completed Orders</caption>
            <thead class="thead-dark1">
              <tr>
                <th scope="row" class="tdstyle">Order ID</th>
                <th scope="row" class="tdstyle">Medicine</th>
                <th scope="row" class="tdstyle">Qty</th>
                <th scope="row" class="tdstyle">UserName</th>
                <th scope="row" class="tdstyle">User Email</th>
                <th scope="row" class="tdstyle">User Address</th>
                <th scope="row" class="tdstyle">Order Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of ordersDisplayFormat">
              <tr *ngIf="order.oStatus=='Completed'">
                <td class="tdstyle">{{order.oId}}</td>
                <td class="tdstyle">{{order.mName}}</td>
                <td class="tdstyle">{{order.oQTY}}</td>
                <td class="tdstyle">{{order.id.fname}} {{ order.id.lname}}</td>
                <td class="tdstyle">{{order.id.emailid}}</td>
                <td class="tdstyle">{{order.id.address}}</td>
                <td class="tdstyle">{{order.oDate | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div style="overflow-x: auto;overflow-y: auto;">
          <table class="table table-striped tablemain" id="t1">
            <caption style="font-size: 22px;font-family: Arial, Helvetica, sans-serif;color:red;font-weight:bold;">
              Rejected Orders</caption>
            <thead class="thead-dark1">
              <tr>
                <th scope="row" class="tdstyle">Order ID</th>
                <th scope="row" class="tdstyle">Medicine</th>
                <th scope="row" class="tdstyle">Qty</th>
                <th scope="row" class="tdstyle">UserName</th>
                <th scope="row" class="tdstyle">User Email</th>
                <th scope="row" class="tdstyle">User Address</th>
                <th scope="row" class="tdstyle">Order Date</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of ordersDisplayFormat">
              <tr *ngIf="order.oStatus=='Canceled'">
                <td class="tdstyle">{{order.oId}}</td>
                <td class="tdstyle">{{order.mName}}</td>
                <td class="tdstyle">{{order.oQTY}}</td>
                <td class="tdstyle">{{order.id.fname}} {{ order.id.lname}}</td>
                <td class="tdstyle">{{order.id.emailid}}</td>
                <td class="tdstyle">{{order.id.address}}</td>
                <td class="tdstyle">{{order.oDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #elseBlock>
        <div style="text-align: center;">
          <img src="../../../../assets/storeimg/notverified.png" alt="not verified image" />
          <p class="textcenter">Sorry! {{stores.sName}} . You are Not yet Verified. Please try to Login after Some time.
          </p>
          <div style="text-align: center;">
            <button routerLink="/store-login" (click)="logout()" class="btnlogout">Logout</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>